@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink&display=swap");

.bg-primary {
  background-color: #008ecc;
}

.primary {
  color: #008ecc;
}

.text {
  color: #666666;
}

.HEading {
  color: #222222;
}

.light {
  color: #8888;
}

.line {
  border-color: #d9d9d9;
}

.color-border {
  background-color: #ededed;
}

.background-1 {
  background-color: #f5f5f5;
}

.background-2 {
  background-color: #f6f6fc;
}

.background-3 {
  background-color: #f3f9fb;
}

.yello-1 {
  color: #e3bc01;
}

.font-title {
  font-family: "Aref Ruqaa Ink", serif;
}

/* Animation Sidebar */

.sidebar-animation {
}
