.content {
  position: relative;
  height: 100vh;

  transition: transform 1s ease-in-out;
}

.open {
  transform: translateX(0);
}

.closed {
  transform: translateX(-72px);
}

.closeButton {
  position: absolute;
  right: 0;
  top: 1px;
  border-radius: 50%;
  cursor: pointer;
}

@keyframes slideIn {
  from {
    transform: translateX(-110%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-110%);
  }
}

@keyframes slideIn-right {
  from {
    transform: translateX(110%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut-right {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(110%);
  }
}

@keyframes hiddenSide {
  from {
    display: block;
  }

  to {
    display: none;
  }
}

.open-expand-category {
  max-height: 1000px; /* Ajusta según sea necesario */
  opacity: 1;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.close-expand-category {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.hidden-sidden {
  animation: hiddenSide 0.3s ease-in-out forwards;
}

.sidebar-open {
  animation: slideIn 0.3s ease-in-out forwards;
}

.sidebar-closed {
  animation: slideOut 0.3s ease-in-out forwards;
}

.sidebar-in-right {
  animation: slideIn-right 0.3s ease-in-out forwards;
}

.sidebar-out-right {
  animation: slideOut-right 0.3s ease-in-out forwards;
}
